* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    padding: 0;
    margin: 0;
}

img{
    object-fit: contain;
}
h2 {
    border-bottom: 2px solid var(--secondary-color);
}

:root {
    --primary-color: #0a101d;
    --secondary-color: #ff6b00;
    --text-color: #ffff;
    --font-size: 18px;
    --spacing: 1.2rem;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: var(--spacing);
    justify-content: space-around;
    border-bottom: 2px solid var(--secondary-color);

}

.container-header {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.container-header div p {
    color: var(--secondary-color);
}

.container-header div p:hover{
    color: var(--text-color);
}

.container-header img {
    width: 100px;
    border-radius: 100%;
    border: 3px solid var(--secondary-color);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

header span {
    margin: auto 360px auto 0px;
    font-size: var(--spacing);
    color: var(--text-color);
}

header span:hover {
    color: var(--secondary-color);
    transform: translateY(-5px);
}

.navbar {
    padding: 8px;
}

.ul-nav {
    display: flex;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-color);
}

.ul-nav li {
    margin: auto 30px;
    list-style: none;
    color: var(--text-color);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

.ul-nav li:hover {
    transform: translateY(-5px);

}

main {
    padding: var(--spacing);
}

.sobre-mim {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: var(--spacing);

    min-height: 350px;
    border: 3px solid #ff6b00;
}

.sobre-mim-texto {
    max-width: 750px;
    height: 300px;

}

.sobre-mim-texto h1,
h2,
p {
    margin: 10px auto;
    text-align: justify;
}

.sobre-mim p {
    font-size: var(--font-size);
}

.sobre-mim-texto span {
    font-weight: 600;
    color: var(--secondary-color);
}

.container-imagem-sobre-mim {
    display: flex;
    justify-content: center;
    width: 750px;
    height: 300px;
    
}

.container-imagem-sobre-mim img {
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

.sobre-mim-image img:hover {
    transform: translateY(-5px);
}

.projetos {
    padding: var(--spacing);
    background-color: var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    border-top: 3px solid var(--secondary-color);
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);
    color: var(--text-color);
}


.titulo-projetos h2 {
    width: 30%;
    text-align: center;
    font-size: 30px;
}

.projetos h3 {
    text-align: center;
    width: 250px;
    color: var(--primary-color);
    font-weight: bold;
    margin: 0 auto;
    border-bottom: 3px solid var(--primary-color);
}

.container-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.card-projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing);
    max-width: 500px;
    height: 280px;
    border-radius: var(--spacing);
    border: 3px solid var(--secondary-color);
    background-color: var(--text-color);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}
.card-projetos img{
    width: 70px;
}

.card-projetos:hover {
    transform: translateY(-5px);
}

.card-projetos p {
    color: var(--primary-color);
    text-align: justify;
}

#desenvolvido {
    color: var(--secondary-color);
    font-weight: 600;
    text-align: start;
    width: 100%;
}

.projetos li:hover {
    transform: translateY(-5px);
}


.formacao {

    background-color: var(--primary-color);
    padding: var(--spacing);
    color: var(--text-color);
    border-left: 3px solid #ff6b00;
    border-right: 3px solid #ff6b00;

}

.titulo-formacao h2 {
    margin-top: var(--spacing);
    text-align: center;
    width: 30%;
}

.formacao-container {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    gap: var(--spacing);
}

.formacao-container article {
    max-width: 600px;
}

.formacao-container img {
    border-radius: var(--spacing);
    width: 200px;
    border: 3px solid var(--secondary-color);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

.hard-skills {
    padding: var(--spacing);
    background-color: var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    color: var(--text-color);
}

.hard-titulo h2 {
    margin: var(--spacing) auto;
    text-align: center;
    width: 30%;
}

.hard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.hard-container ul {
    display: flex;
    gap: var(--spacing);
    flex-wrap: wrap;
}

.hard-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--text-color);
    width: 200px;
    border-radius: var(--spacing);
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

.hard-container li img {
    width: 30px;
}

.hard-container li:hover {
    transform: translateY(-5px);
}

.soft-skills {
    padding: var(--spacing);
    background-color: var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    border-bottom-right-radius: var(--spacing);
    border-bottom-left-radius: var(--spacing);
    color: var(--text-color);
}

.soft-titulo h2 {
    margin: var(--spacing) auto;
    text-align: center;
    width: 30%;
}

.soft-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soft-container ul {
    display: flex;
    gap: var(--spacing);
    flex-wrap: wrap;
}

.soft-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    width: 200px;
    border-radius: var(--spacing);
    border: 2px solid var(--text-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

.soft-container li:hover {
    transform: translateY(-5px);
}

.contatos {
    margin: 50px auto;
    padding: var(--spacing);
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--spacing);
    border: 3px solid var(--secondary-color);
    height: 340px;
}

.titulo-contatos h2 {
    width: 30%;
    text-align: center;
}

.container-contatos {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-contatos {
    padding: var(--spacing);
    color: var(--primary-color);
    background-color: var(--text-color);
    width: 380px;
    border: 3px solid var(--secondary-color);
    border-radius: var(--spacing);
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--spacing);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

}

.card-contatos img {
    width: 30px;
}

.card-contatos:hover {
    transform: translateY(-5px);
}

footer {
    background-color: var(--primary-color);
    padding: var(--spacing);
    color: var(--text-color);
}

footer p {
    text-align: center;

}

header img:hover {
    transform: translateY(-10px);
}

.sobre-mim img:hover {
    transform: translateY(-10px);

}

.formacao img:hover {
    transform: translateY(-10px);

}