body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

.navbar {
    display: flex;
    justify-content: flex-end;          
    padding: 20px 5%;
    background-color: #111;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:30px;
}

.sobre {
    display: flex;       
    align-items: center; 
    gap: 40px;           
    margin-bottom: 40px;
    max-width: 900px;    
}

.sobre img {
    width: 300px;        
    height: 300px;
    border-radius: 50%;
    object-fit: cover; 
    border: 5px solid #1a1a1a;
}

.sobre-texto {
    flex: 1;            
}

.projetos{
    
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    transition:0.2s;
    text-align: center;
}

.card:hover{
    transform:translateY(-5px);
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:#aaa;
    margin-top: 120px;
    
}

.contato {
    margin-top: 50px;
    text-align: center;
    font-family: sans-serif;
}

.contato-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: background 0.2s;
    cursor: pointer;
}

.card-link:hover {
    background-color: #f0f0f0;
    border-color: #888;
}

.card-link img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.card-link span {
    font-weight: bold;
}

.formulario {
    text-align: center; 
    padding: 20px;
}

.formulario input {
    display: block;     
    width: 300px;
    margin: 0 auto 15px; 
    padding: 20px;     
    border: 1px solid #ccc;
    border-radius: 15px;
}

.formulario textarea{

    display: block;     
    width: 300px;
    margin: 0 auto 15px; 
    padding: 20px;     
    border: 1px solid #ccc;
    border-radius: 15px;
}

.btn-enviar{

    display: block;     
    width: 300px;
    margin: 0 auto 15px; 
    padding: 20px;     
    border: 1px solid #cccccc;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    background-color: #111;
    cursor: hand;
}

.btn-enviar a{

    display: block;
    text-decoration: none;
    color: white;
}

.btn-enviar:hover{

    background-color: #00bcd4;
}
